.mat-form-field {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 480px;
}
input{
    width: 400px;
    height: 40px;
    border-color: unset;
    /* border: 0px; */
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid rgb(37, 27, 226);
}
input:focus{
    outline: none;
}

button{
    width: 80px;
    margin: 20px;
}

