








<!-----------------------------------------------------------------Disclaimer   ----------------------------------------->

<!------- ------------------
  
  As someone who actively contribute to open source projects on github It is important to mention that this
  application is based on an open source project by INMS ADARSH:  https://github.com/inms-adarsh.


  ------------------------------>



<!--Nav bar-->
<app-navbar></app-navbar>
<div class="content" role="main">
    <div  *ngFor="let question of questions ; let i = index" class="page_wrapper" [class.focus]="i == 0" [id]="question.identifier">
        <div class="inner_wrapper">
          <h3>{{question.headline}}</h3>
          <div *ngIf="question.question_type == 'multiple-choice'">
                <app-one-option *ngIf="question.multiple === 'false'" [question]="question" (moveDown)="moveDownToNextQuestion($event)"></app-one-option>
                <app-many-options  *ngIf="question.multiple === 'true'" [question]="question" (moveDown)="moveDownToNextQuestion($event)"></app-many-options>
          </div>
          <app-text *ngIf="question.question_type == 'text'" [question]="question" (moveDown)="moveDownToNextQuestion($event)"></app-text>
      </div>
    </div>
</div>

